/* Thiết lập các thuộc tính chung cho tất cả các phần tử */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Thiết lập màu nền chung cho trang */
body {
    background-color: red;
}

/* Phần tử .main */
.main {
    padding: 5% 10%; /* Thiết lập phần đệm cho phần tử .main, sử dụng phần trăm để phù hợp với kích thước màn hình */
    text-align: center; /* Căn giữa nội dung trong .main */
}

/* Phần tử .img */
.img {
    margin-top: 40px;
}

/* Phần tử .but */
.but {
    
    margin-top: 40px;
    display: flex; /* Sử dụng flexbox để sắp xếp các nút */
    justify-content: center; /* Căn giữa theo chiều ngang */
}

/* Kiểu dáng cho các nút */
button {
    padding: 10px 20px;
    background-color: rebeccapurple;
    color: #fff;
}

/* Nút #but1 */
#but1 {
    margin-right: 20px; /* Khoảng cách giữa nút #but1 và nút #but2 */
}

/* Nút #but2 */
#but2 {
    background-color: rgb(24, 229, 133); 
    width: 100px;
    height: 40px;
    position: relative; /* Thiết lập vị trí tương đối để có thể di chuyển but2 */
}

/* Phần tử .xin */
.xin {
    width: 90%;
    height: 70vh;
    background-color: #fff;
    opacity: 0;
    transition: opacity 0.5s ease;
    position: fixed;
    top: 50%; /* Đặt phần tử ở giữa màn hình theo chiều dọc */
    left: 50%; /* Đặt phần tử ở giữa màn hình theo chiều ngang */
    transform: translate(-50%, -50%); /* Dịch chuyển phần tử để nó nằm ở giữa màn hình */
    z-index: 999;
    pointer-events: none;
}

/* Khi phần tử .xin có class .show được thêm vào */
.xin.show {
    opacity: 1;
    pointer-events: auto;
    max-width: 90%;
    max-height: 90%;
    overflow: auto;

}


/* Phần tử .hehe */
.hehe {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* Định dạng hình ảnh trong phần tử .img2 và .img3 */
.img2, .img3 {
    width: 200px; /* Đảm bảo hình ảnh chiếm toàn bộ chiều rộng của .img2 và .img3 */
    height: auto; /* Đảm bảo chiều cao tự động tính toán để giữ nguyên tỷ lệ */
}
